@font-face {
	font-family: 'Muller';
	src: url("https://static.tildacdn.com/tild3964-3430-4534-b363-336338663838/FontfabricMullerBold.woff");
}
@font-face{
	font-family: 'MullerRegular';
	src: url("https://static.tildacdn.com/tild6164-3934-4234-b064-613462336335/MullerRegular.woff");
}

@font-face {
	font-family: 'MullerBlack';
	src: url("https://static.tildacdn.com/tild6530-3166-4231-b338-316666396363/MullerBlack.woff");
}
    


.result-txt {
font-family: "Muller";
line-height: 1.3;
}

.test-result {
    max-height: 250px;
    background-color: #ffc83c;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 624px;
    border-radius: 7px;
    padding: 25px 50px;
    text-align: center;
    box-sizing: border-box;
    top: 50%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
	h2 {
		font-family: 'Muller';
		margin: 0;
	}
	h1 {
		font-family: 'MullerBlack';
		margin: 0;
	}
	p {
		margin:0;
		font-family: 'MullerRegular';
	}
}


.error {
	border-color: #ffc83c !important;
}
.description_error {
	border-radius: 7px;
	box-sizing: border-box;
	display: block;
	height: 50px;
	padding: 0 60px;
	background-color: #d1d1d1;
	color: black;
	border: 0;
	font-family: "Muller";
	font-size: 14px;
	margin-left: 10px;
	margin: 20px auto;
	width: 100%;
}
.fz20_18_16_12 {
	font-size: 20px;
}
.visible500 {
	display:none;
}
.checbox-wrapp {
	display: flex;
	position: relative;
	p {
		font-family: 'Muller';
		font-size: 14px;
		padding-left: 10px;
	}
}
.text-center {
	text-align: center;
}
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 20px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}

#checbox-block {
	display: block;
	width: 20px;
	height: 20px;
	align-self:center;
}
.underscoring_url {
	text-decoration: none;
	color: black;
	border-bottom: 2px solid #ffc83c;
	line-height: 20px;
}

.btn_autorization {
	border-radius: 7px;
	box-sizing: border-box;
	display: block;
	height: 50px;
	padding: 0 60px;
	background-color: #e31d1a;
	color: white;
	border: 0;
	font-family: "Muller";
	font-size: 14px;
	margin: 0px 0px 10px auto;
	width: 100%;
}
.popup-wrapper {
	.opros-wrap {
		h2 {
			font-size: 24px;
		}
		p {
			font-size: 16px;
		}
		button {
			border-radius: 7px;
			box-sizing: border-box;
			display: block;
			height: 50px;
			background-color: #e31d1a;
			color: white;
			border: 0;
			font-family: "Muller";
			font-size: 14px;
			margin-left: 10px;
			margin: 20px auto 0px auto;
			width: 100%;
		}
	}
	&.main-registration.free1020{
		p {
			font-size: 16px;
		}
	}
}
.fz40_32_22 {
	font-size: 40px;
}
.fz14_13 {
	font-size: 14px !important; 
}
#interview {
	// margin-top: 25px;
	ul {
		padding-left: 0 !important;
	}
}
.interview {
	max-width: 624px;
	display: block;
	margin: 0 auto;
	.login-form {
		margin-top: 50px;
		display: flex;
		justify-content: center;
		position: inherit;
		height: inherit;
		.user_img {
			margin-left: 26px;
			width: 65px;
			height: 65px;
		}
	}
	.text-wrap {
		// margin-top: 30px;
		h1 {
			font-family: 'MullerBlack';
			// padding-top: 15px;
			margin-top: 0;
			margin-bottom: 0;
		}
		p {
			font-family: 'MullerRegular';
			padding-top: 15px;
			line-height: 1.55;
		}
	}
	p {
		font-size: 16px
	}
}


#interview {
	button[type=submit] {
		border-radius: 7px;
		box-sizing: border-box;
		display: block;
		height: 50px;
		padding: 0 60px;
		background-color: #ffc83c;
		color: black;
		border: 0;
		font-family: "Muller";
		font-size: 14px;
		margin-left: 10px;
		margin: 20px auto 5px auto;
		width: 100%;
	}
	label.error {
		display:none !important;
	}
	label.real {
		display: block;
		padding-left: 12px;
		font-size: 12px;
		font-family: 'Muller';
		font-weight: bold;
		text-transform: uppercase;
	}
	textarea {
		width: 100%;
		font-size: 12px;
		border-radius: 7px;
		border: 2px solid #d1d1d1;
		padding: 2px;
		outline: 0;
		padding: 10px 40px 10px 10px;
		box-sizing: border-box;
		margin-top: 8px;
		cursor: pointer;
	}
	input {
		font-family: 'Muller';
		color:black;
		text-transform: uppercase;
		&::-webkit-input-placeholder,-moz-placeholder,-ms-input-placeholder {
			color:#333;
			font-size: 12px;
			font-family: 'Muller';
			font-weight: bold;
				// color:red;
				// opacity: 0.8;
			}
			&.right {
				margin-left: 20px;
			}
		}
		input.half-width {
			max-width: 300px;
			width: 100%;
			font-size: 12px;
			border-radius:7px;
			border:2px solid #d1d1d1;
			outline: 0;
			padding:10px 35px 10px 10px;
			box-sizing: border-box;
			margin-top: 8px;
		}
		input.full-width {
			width: 100%;
			font-size: 12px;
			border-radius:7px;
			border:2px solid #d1d1d1;
			outline: 0;
			padding:10px 35px 10px 10px;
			box-sizing: border-box;
			margin-top: 8px;
		}
		select.half-width {
			max-width: 300px;
			width: 100%;
			font-size: 12px;
			border-radius:7px;
			border:2px solid #d1d1d1;
			outline: 0;
			padding:10px;
			box-sizing: border-box;
			margin-top: 8px;
			&.right {
				margin-left: 20px;
			}
		}
	}

	.wrapp-spisok {
		position: relative;
		.arrowdown {
			width: 15px;
			position: absolute;
			top: 19px;
			right: 14px;
			cursor: pointer;
		}
	}
	.spisok {
		max-width: 300px;
		width: 100%;
		font-size: 12px;
		border-radius: 7px;
		border: 2px solid #d1d1d1;
		padding: 2px;
		outline: 0;
		padding: 10px 40px 10px 10px;
		box-sizing: border-box;
		margin-top: 8px;
		cursor:pointer;
		&.full-width {
			max-width: inherit;
		}
		&:hover {
			background-color: #E6E6E6;
			background-position: 0 -10px;
		}
	}

	.drop-down {
		&.half-width {
			max-width: 300px;
			width: 100%;
			display: inline-block;
			&.right {
				margin-left: 20px;
			}
		}
		ul {
			font-size: 12px;
			border: 2px solid #d1d1d1;
			border-top: 0px;
			border-radius:7px 0px 7px 7px;
			cursor: pointer;
			position: absolute;
			z-index: 1000;
			width: 100%;
			padding: 0;
			margin:0;
			box-sizing:border-box;
			background-color: white;
			li {
				list-style-type: none;
				font-family: 'MullerRegular';
				&:hover {
					background-color: #E6E2E6;
					background-position: 0 -10px;
				}
				&:first-child {
					padding: 10px 10px 10px 10px;
				}
				padding: 10px 10px 10px 10px;
			}
		}
	}


@media screen and (max-width: 1170px) {  // 980px mxw

}

@media screen and (max-width: 959px) { // 620px mxw
	.fz20_18_16_12 {
		font-size: 18px;
	}
	.fz40_32_22 {
		font-size: 32px;
	}
	#interview {
		margin-top: 15px;
	}
	.popup-wrapper {
		.opros-wrap {
			p {
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-width: 639px) { // 450px mxw

	.fz14_13 {
		font-size: 14px !important; 
	}
	#opros_redirect {
		max-width: 380px;
	}
	.interview {
		padding: 0 10px;
		max-width: 500px;
		.text-wrap {
			margin-top: 15px;
		}
		#interview {
			label.real {
				font-size: 11px;
			}
			input {
				&::-webkit-input-placeholder,-moz-placeholder,-ms-input-placeholder {
					font-size: 10px;
				}
				&.half-width {
					max-width: 100%;
				}
				&.right {
					margin-left: 0;
				}
			}
		}
		.text-wrap {
			h1 {
				padding-top: 8px;
			}
			p {
				font-size: 14px;
				padding-top: 18px;
			}
		}
	}
	.spisok {
		max-width: 100%;
	}
	.drop-down {
		ul {
			position:relative;
			font-size: 11px;
		}
		&.half-width {
			max-width: 100%;
			&.right {
				margin-left: 0;
			}
		}
	}
	.fz20_18_16_12 {
		font-size: 16px;
	}
	.fz40_32_22 {
		font-size: 22px;
	}
}

@media screen and (max-width: 500px) {
	.fz14_13 {
		font-size: 13px !important; 
	}
	#interview {
		margin-top: 10px;
	}
	.interview {
		.login-form {
			margin-top: 0;
		}
	}
	.fz20_18_16_12 {
		font-size: 12px;
	}
	.popup-wrapper {
		.opros-wrap {
			h2 {
				font-size: 18px;
			}
			p {
				font-size: 12px;
			}
			button{ 
				font-size: 12px;
			}
		}
	}
	.visible500 {
		display:inherit;
	}
	.hide500 {
		display:none;
	}
	.popup-wrapper.main-registration.free1020 {
		max-width: 350px !important;
		margin: 0 auto;
	}
	.popup-wrapper.main-registration.free1020 {
		.autorization-txt {
			font-size: 12px;
			padding-left: 0;
		}
	}
	.box-modal.free1020{
		max-width: 350px;
	}
	.btn_autorization {
		font-size: 13px;
	}
}